<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="SpamLib.Properties.Settings.D__ДОКУМЕНТЫ_GITHUB_WPFAPP_01_DB_PERSONALDB_MDFConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=D:\ДОКУМЕНТЫ\GITHUB\WPFAPP_01\DB\PERSONALDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="SpamDBContainer" connectionString="metadata=res://*/Data.SpamDB.csdl|res://*/Data.SpamDB.ssdl|res://*/Data.SpamDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=D:\Документы\SpamDB.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>